html, body{
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  
  
  nav { 
    width: 100%;
    background-color: slategrey ;
    height: 44px;
    padding: 0 40px;
  }
  
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    cursor: pointer;
  }
  
  nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 1.4em;
    text-decoration: none;
    color: antiquewhite;
    margin:0;
  }
  
  nav ul li a:hover {
    background-color:white;
    color: lavender;
  }
  
  .header-budget {
    height: 450px;
    background-color:#b4c6f0;
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;   
    background-image: url('/bg.png');
  }
  
  .header-budget h1, 
  .header-budget h2 {
    text-align: center;
    margin:0;
  }
  .header-budget h1 {
    color: white;
    font-size: 4.2em;
    margin-bottom: 20px;
  }
  .header-budget h2 {
    color: #4d5791
  }
  
  
  footer{
    width: 100%;
    height: 44px; 
    background-color: slategrey;
    padding: 0 40px;
    font-size: 1.4em;
    text-align: center;
    margin:10px;
  }
  
  
  .container {
    padding: 40px;
    width: 100%;
  }
  
  .page-area {
    max-width: 768px;
    display: inline-block;
  }
  
  .bottom {
    height: 50px;
    background-color: #b4c6f0;
    padding: 40px;
  }
  
  .center {
    text-align: center;
  }
  
  
  
  * {
    box-sizing: border-box;
  }
  
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  footer{
    width: 100%;
    height: 44px; 
    background-color: slategrey;
    padding: 0 40px;
    font-size: 1.4em;
    text-align: center;
    margin:10px;
  }
  @media screen and (min-width: 768px) {
    .section-area .article.text-area {
        margin: 10px;
    }
  }
  
  
  .login-text-area{
        text-align: center;
  }
  .login-text{
    width: 100%;
    max-width: 340px;
    text-align: justify;
    margin: 0;
    font-size: 10px;
  }
  
  .about-text-area{
    text-align: center;
  
  }
  .about-text{
    width: 100%;
    max-width: 340px;
    text-align: justify ;
    margin: 0;
    font-size: 10px;
  }
  
      #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
      }
      
      #myBtn:hover {
        background-color: #555;
      }
  
    .section-area {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
  
    .text-area {
        display: flex;
        flex: 50%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
  
    .options-area {
        align-items: center;
        justify-content: center;
        max-width: 400px;
    }
    
  .sign-up-btn {
    border-style: none;
    border-radius: 93px;
    z-index: 48;
    width: 421px;
    height: 70px;
    background: rgba(255,255,255,1);
    box-shadow: none;
    text-shadow: none;
    color: #061A36;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    font-family: Verdana, Geneva, sans-serif;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
    }
    
    .sign-up-area {
        background-color: #b4c6f0;
        padding: 40px;
    }
  
    .chart-area {
        padding: 40px;
        width: 900px;
        height: 400px;
    }
  
  .sign-up-btn:hover {
    background-color:white;
    cursor: pointer;
    transform: scale(1.1);
  }
  
    
    svg {
        width: 100%;
        height: 100%;
    }
    
    path.slice{
        stroke-width:2px;
    }
    
    polyline {
        opacity: .3;
        stroke: black;
        stroke-width: 2px;
        fill: none;
    }
  
  .advanced-chart-area {
    width: 960px;
    height: 500px;
    position: relative;
    text-align: center;
  }
  
  .pie-chart {
    text-align: center;
    margin-top: 40px;
    height: 500px;
    width: 500px;
  }